{% extends 'base.html' %}

{% block body %}
<form action="/searcher" method="POST">
    <h2>Use this form to submit a search request:</h2>

    <div class="words_input">

        <div class="input_desc">To search for words, enter them separated by commas ('one, two... ')<br>
        To search for letters, enter a string without spaces ('aeiou... ') </div>
        <input type="text" name="letters" value="aeiou">


        <div class="input_desc">Search in text:</div>
        <input type="text" name="phrase">

        <div class="input_desc">When you're ready, click this button:</div>
        <button class="search_btn" type="submit" value="Do it!">Do it!</button>
        
    </div>
</form>
{% endblock %}